.portfolio_card {
	@apply bg-gray-200
                rounded-md
                text-black
                text-center
                flex
                flex-row
                content-start
                items-center
                gap-x-4
                no-underline  

                sm:flex-col
                sm:justify-center
                sm:items-stretch
                sm:gap-x-0

                hover:bg-yellow-500
                hover:text-white
                
                focus:bg-yellow-500
                focus:outline-black

                dark:focus:bg-gray-600

                dark:bg-black
                dark:hover:text-white
                dark:hover:bg-gray-600;
}

.dark .portfolio_card:focus {
	@apply outline-white;
}

.portfolio_card .img {
	@apply rounded-l-md
           w-3/6
           sm:w-full
            sm:max-w-full
            sm:rounded-l-none
            sm:rounded-t-md;
}

.portfolio_card .title {
	@apply py-3
            text-xl;
}

.gallery {
	@apply grid
            grid-cols-2
            md:grid-cols-3
            gap-2;
}

.summary {
	@apply grid
            grid-cols-1
            md:grid-cols-3
            gap-4;
}

.summary_info {
	@apply text-center;
}

.summary_info__left {
	@apply md:justify-self-start;
}

.summary_info__right {
	@apply md:justify-self-end;
}

.summary_title {
	@apply font-bold;
}

.react-photo-gallery--gallery img:hover {
	@apply outline-black;
}

.dark .react-photo-gallery--gallery img:hover {
	@apply outline-white;
}

.react-photo-gallery--gallery img:nth-child(1) {
	transform: translateX(2.5rem) translateY(0.3rem);
}
.react-photo-gallery--gallery img:nth-child(2) {
	transform: translateX(2.5rem) translateY(0.6rem);
}
.react-photo-gallery--gallery img:nth-child(3) {
	transform: translateX(2.5rem) translateY(0.9rem);
}
.react-photo-gallery--gallery img:nth-child(4) {
	transform: translateX(2.5rem) translateY(1.2rem);
}
.react-photo-gallery--gallery img:nth-child(5) {
	transform: translateX(2.5rem) translateY(1.5rem);
}
.react-photo-gallery--gallery img:nth-child(6) {
	transform: translateX(2.5rem) translateY(1.8rem);
}
.react-photo-gallery--gallery img:nth-child(7) {
	transform: translateX(2.5rem) translateY(2.1rem);
}
.react-photo-gallery--gallery img:nth-child(8) {
	transform: translateX(2.5rem) translateY(2.4rem);
}
.react-photo-gallery--gallery img:nth-child(9) {
	transform: translateX(2.5rem) translateY(2.7rem);
}
.react-photo-gallery--gallery img:nth-child(10) {
	transform: translateX(2.5rem) translateY(3rem);
}
.react-photo-gallery--gallery img:nth-child(11) {
	transform: translateX(2.5rem) translateY(3.3rem);
}
.react-photo-gallery--gallery img:nth-child(12) {
	transform: translateX(2.5rem) translateY(3.6rem);
}
.react-photo-gallery--gallery img:nth-child(13) {
	transform: translateX(2.5rem) translateY(3.9rem);
}
.react-photo-gallery--gallery img:nth-child(14) {
	transform: translateX(2.5rem) translateY(4.2rem);
}
.react-photo-gallery--gallery img:nth-child(15) {
	transform: translateX(2.5rem) translateY(4.5rem);
}

.react-photo-gallery--gallery img {
	animation: image-effect linear forwards;
	animation-timeline: view(block);
	animation-range: entry-crossing entry;
}

@media (prefers-reduced-motion) {
	.section .react-photo-gallery--gallery img {
		animation: unset;
		transform: none;
	}
}

@supports (animation-range: entry-crossing entry) {
	@keyframes image-effect {
		from {
			opacity: 0.75;
			scale: 0.75;
		}
		to {
			opacity: 1;
			scale: 1;
			transform: none;
		}
	}
}
