.download_resume {
	@apply bg-gray-200
			p-8
			w-full
			flex
			flex-col
			justify-center
			content-center
			items-center
			gap-y-4
			text-black
			no-underline
			text-2xl
			text-center
			rounded-md
			
			sm:flex-row
			sm:gap-x-4
			
			hover:bg-yellow-500
			hover:text-white
			focus:outline-black
			focus:bg-yellow-500
			focus:text-white
			
			dark:text-black
			dark:hover:bg-black
			dark:hover:text-white
			dark:focus:bg-black
			dark:focus:text-white;

	animation: download-resume-effect linear forwards;
	animation-timeline: view();
	animation-range: 0 150px;
}

@media (prefers-reduced-motion) {
	.download_resume {
		animation: unset;
	}
}

@supports (animation-range: 0 150px) {
	@keyframes download-resume-effect {
		from {
			opacity: 0.75;
			scale: 0.75;
			transform: translateX(5rem) skew(10deg, 10deg);
		}
		to {
			opacity: 1;
			scale: 1;
			transform: none;
		}
	}
}
