body {
	@apply bg-yellow-400;
}

.App {
	@apply text-lg
            min-h-screen
            transition-all
            duration-200
            max-w-full
            bg-white
            dark:bg-gray-900
            
            border-yellow-400
            dark:border-black;

	border-width: 0 1.4rem;
}

.main {
	@apply max-w-prose
            mx-auto
            px-8
            py-16

            text-black
            dark:text-white;
}

.section {
	@apply mb-32;
}

.section_cols-3 {
	@apply grid
          sm:grid-cols-3
          gap-6

          grid-cols-1;
}

.section_cols-2 {
	@apply grid
          sm:grid-cols-2
          gap-6

          grid-cols-1;
}

h1 {
	@apply text-4xl
          text-center
          font-bold
          leading-relaxed
          mb-4;
}

h2 {
	@apply text-3xl
          text-center
          font-semibold
          leading-relaxed
          mb-4;
}

h3 {
	@apply text-xl
          font-bold
          leading-relaxed
          mb-1;
}

.section_left h2 {
	@apply text-left;
}

ul.list {
	@apply list-disc
          list-inside;
}

.img {
	@apply max-w-full;
}

.education_card .img {
	@apply w-full;
}

.section footer {
	@apply pt-4
          text-center;
}

a {
	@apply text-black
            underline

            hover:text-yellow-500

            dark:text-white
            dark:hover:text-gray-300
            focus:outline-black;
}

.dark a:focus {
	outline: 2px dotted white;
	outline-offset: 2px;
}

:is(p, li, span) {
	@apply font-ibm font-light;
}

:is(h1, h2, h3, h4, h5, h6) {
	@apply font-rubik;
}

.animate-titles {
	animation: headings linear both;
	animation-timeline: view(block);
	animation-range: contain 0% contain 20%;
}

@media (prefers-reduced-motion) {
	.animate-titles {
		animation: unset;
	}
}

@supports (animation-range: contain 0% contain 20%) {
	@keyframes headings {
		from {
			opacity: 0.5;
			scale: 0.75;
		}
		to {
			opacity: 1;
			scale: 1;
		}
	}
}
