---
import { getLocale } from '../../scripts/getLocale';
import { getAbout, getContentHeader } from '../../scripts/getContent';
import type { CVHeading } from '../../scripts/Interfaces/HeaderInterfaces';

const { pathname } = Astro.url

const language: string = pathname.split('/')[1];
const locale: string = getLocale(language);

const about: CVHeading = await getContentHeader('5lkl1wDaWl4pg5vAAKFAnt', locale)

const entries = await getAbout(locale)

---
<section class="section">
	<h2 class="animate-titles">{about.fields.heading}</h2>
	{entries.items.map((item) => (
		<p>{item.fields.description}</p>
	))}
</section>