---
import '../../styles/widgets/Education.css'
import type { EntryFieldTypes } from 'contentful';
import { contentfulClient } from '../../lib/contentful';
import { getLocale } from '../../scripts/getLocale';

const { pathname } = Astro.url


interface CVEducation {
  contentTypeId: "headings",
  fields: {
    heading: EntryFieldTypes.Text
  }
}

interface CVEducationCollection {
  contentTypeId: "education",
	sys: {
		id: EntryFieldTypes.Text
	},
	fields: {
		title: EntryFieldTypes.Text
	}
}

const education = await contentfulClient.getEntry<CVEducation>('BJft3IxP7iqujQ53J1aYl', {
	locale: getLocale(pathname.split('/')[1])
});

const educationLink = await contentfulClient.getEntry<CVEducation>('4bfcgFHvZ8MdeIywpTXR5f', {
	locale: getLocale(pathname.split('/')[1])
});

const entries = await contentfulClient.getEntries<CVEducationCollection>({
  content_type: "education",
  locale: getLocale(pathname.split('/')[1]),
  limit: 3
});
---

<section class="section">
	<header>
		<h2 class="animate-titles">{education.fields.heading}</h2>
	</header>
	<section class="section_cols-3">
		{entries.items.map((education) => {
			return (
				<section class="education_card">
					<img
						class="img"
						src={
							education.fields.image.fields.file.url +
							"?fl=progressive&w=200"
						}
						alt=""
					/>
					<p class="title">{education.fields.subtitle}</p>
				</section>
			);
		})}
	</section>
	<footer>
		<a href="/education">{educationLink.fields.heading}</a>
	</footer>
</section>