---
import '../../styles/widgets/Education.css'
import { getContentHeader, getEducation } from '../../scripts/getContent';
import { getLocaleAndLang } from '../../scripts/getLocaleAndLang';

const { pathname } = Astro.url

const [, locale] = getLocaleAndLang(pathname)

const education = await getContentHeader('BJft3IxP7iqujQ53J1aYl', locale)
const educationLink = await getContentHeader('4bfcgFHvZ8MdeIywpTXR5f', locale)

const entries = await getEducation(locale)
---
<section class="section">
	<header>
		<h2 class="animate-titles">{education.fields.heading}</h2>
	</header>
	<section class="section_cols-3">
		{entries.items.map((education) => {
			return (
				<section class="education_card">
					<img
						class="img"
						src={
							education.fields.image.fields.file.url +
							"?fl=progressive&w=200"
						}
						alt=""
					/>
					<p class="title">{education.fields.subtitle}</p>
				</section>
			);
		})}
	</section>
	<footer>
		<a href="/education">{educationLink.fields.heading}</a>
	</footer>
</section>