---
import '../../styles/widgets/Resume.css'
import { getLocale } from '../../scripts/getLocale';
import { getFile } from '../../scripts/getContent';

const { pathname } = Astro.url


const language: string = pathname.split('/')[1];
const locale: string = getLocale(language);

const downloadfile = await getFile('4mH92P2EMhcmAiRzZaqJsG', locale)

---

<a
	class="download_resume"
	href={downloadfile.fields.file.url}
	target="_blank"
	rel="noopener noreferrer"
>
	<i class="fa-solid fa-file-pdf"></i>
	<p>{downloadfile.fields.title}</p>
</a>
