---
import '../../styles/widgets/Resume.css'
import type { EntryFieldTypes } from 'contentful';
import { contentfulClient } from '../../lib/contentful';
import { getLocale } from '../../scripts/getLocale';

const { pathname } = Astro.url

interface CVFile {
  	contentTypeId: "Asset",
	fields: {
		title: EntryFieldTypes.Text,
		file: {
			filename: EntryFieldTypes.Text,
			url: EntryFieldTypes.Text
		}
	}
}

const downloadfile = await contentfulClient.getAsset('4mH92P2EMhcmAiRzZaqJsG', {
	locale: getLocale(pathname.split('/')[1])
});

---

<a
	class="download_resume"
	target="_blank"
	rel="noopener noreferrer"
	href={downloadfile.fields.file.url}
>
	<i class="fa-solid fa-file-pdf"></i>
	<p>{downloadfile.fields.title}</p>
</a>