---
import '../../styles/widgets/Resume.css'
import { getFile } from '../../scripts/getContent';
import { getLocaleAndLang } from '../../scripts/getLocaleAndLang';

const { pathname } = Astro.url

const [, locale] = getLocaleAndLang(pathname)

const downloadfile = await getFile('4mH92P2EMhcmAiRzZaqJsG', locale)

---

<a
	class="download_resume"
	href={downloadfile.fields.file.url}
	target="_blank"
	rel="noopener noreferrer"
>
	<i class="fa-solid fa-file-pdf"></i>
	<p>{downloadfile.fields.title}</p>
</a>
