---
import { getLocale } from '../../scripts/getLocale';
import { getContentHeader, getSkills } from '../../scripts/getContent';
import type { CVHeading } from '../../scripts/Interfaces/HeaderInterfaces';
import type { CVSkills } from '../../scripts/Interfaces/SkillsInterface';

const { pathname } = Astro.url

const language: string = pathname.split('/')[1];
const locale: string = getLocale(language);

const skills: CVHeading = await getContentHeader('69tmMvtPx8twaEgeU3Vjf4', locale)
const entries: CVSkills = await getSkills(locale)

---
<section class="section">
	<h2 class="">{skills.fields.heading}</h2>
	<section class="section_cols-3">
		{entries.items.map((skill) => {
			return (
				<section>
					<h3>{skill.fields.title}</h3>
					<ul class="list">
						{skill.fields.skillList?.map((skillItem: string) => {
							return <li>{skillItem}</li>;
						})}
					</ul>
				</section>
			);
		})}
	</section>
</section>