---
import './../styles/components/Header.css'
import LocaleButton from "./LocaleButton.astro";
import { getContentHeader, getContentTitles } from '../scripts/getContent';
import type { CVHeading } from '../scripts/Interfaces/HeaderInterfaces';
import type { CVTitles } from '../scripts/Interfaces/TitlesInterfaces';
import { getLocaleAndLang } from '../scripts/getLocaleAndLang';

const { pathname } = Astro.url

const [language, locale] = getLocaleAndLang(pathname)

const languageText: CVHeading = await getContentHeader('ryPXmqgWyGKZKVNpevKXS', locale)

const entries: CVTitles = await getContentTitles(locale)

---

<header class="header">
	{entries.items.map((item) => (
		<section class="titles">
			<!-- <Link to="/"> -->
				<h1>{item.fields.title}</h1>
			<!-- </Link> -->
			<p class="subtitle">{item.fields.tagline}</p>
		</section>
		<ul class="controls">
			<!-- <li>
				<DarkModeButton />
			</li> -->
			<li>
				<LocaleButton language={language === "en" ? "es" : "en"} text={languageText.fields.heading} pathname={pathname} />
			</li>
		</ul>
	))}

</header>