---
const { language, text } = Astro.props;
---

<button id="languageButton" class="toggleButton dark:outline-white">
	<i class="fa-solid fa-language"></i>
	<span>{text}</span>
</button>

<script define:vars={{language}}>
	const button = document.querySelector('button#languageButton');

	button?.addEventListener('click', () => {
		const changelanguage = `/${language}/`
		location.href = changelanguage
	});
</script>