---
import './../styles/base.css'
import './../styles/App.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<script src="https://kit.fontawesome.com/bd9abda6a7.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section class="App">
			<Header />

			<main class="main">
				<slot />
			</main>
			
			<Footer />
		</section>
	</body>
</html>